.console {
  background: #05070d;
  border: 1px solid #1f2537;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.console-title {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 6px;
}

pre {
  font-size: 12px;
  color: #9cff9c;
  max-height: 150px;
  overflow-y: auto;
}
